td>a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100px;
    height: 25px;
    background-color: rgb(0, 204, 255);
    text-align: center;
}

img {
    margin: 0 auto;
    height: 25px;
}

.kuan {
    display: inline-block;
    width: 260px;
}

.gao {
    display: inline-block;
    height: 120px;
}

.one {
    background-image: url(img/b91090aad1b643dba3ee49b75030ae77.png);
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover {
    background-color: #fff;
    color: red;
}


/* 左边边框 */

.lfbd {
    border-left: 3px orange solid;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 0px;
    border-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0;
}


/* ------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
}

h2 {
    color: bisque;
}

li {
    position: relative;
    text-decoration: none;
    list-style: none;
    background-color: #fff;
    border-left: 5px solid skyblue;
    border-radius: 2px;
    margin-top: 4px;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
}

li>a {
    position: absolute;
    top: -1;
    right: 0;
    text-decoration: none;
    color: #000;
}

li>p {
    display: inline-block;
}

.two {
    /* background-color: rgb(105, 96, 96); */
    background-image: url(img/2222.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -280px;
}

header {
    height: 40px;
    background-color: #000;
}

label {
    color: #fff;
    line-height: 40px;
}

.w {
    margin: 0 25%;
}

#title {
    float: right;
    display: block;
    margin-top: 6px;
    width: 300px;
    height: 28px;
    border-radius: 3px;
    text-decoration: none;
}

span {
    float: right;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    height: 24px;
    font-size: 18px;
}

#todocount,
#donecount {
    background-color: brown;
}